# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Desktop\C08L1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
